<%= form_for @hotel do |f| %>
  
  <% if @hotel.errors.any? %>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Please fix: <%= pluralize(@hotel.errors.count, "error") %></h3>
      </div>
      <div class="panel-body">
        <ul>
          <% @hotel.errors.full_messages.each do |msg| %>
            <li>
            <%= msg %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control input-sm' %>
  </p>

  <p>
    <%= f.label :breakfast %>
    <%= f.check_box :breakfast, {}, true, false %>
  </p>

  <p>
    <%= f.label :star_rating %>
    
    <%= f.label :star_rating, "1", class: "radio-inline", :value => '1' do %>
      <%= f.radio_button :star_rating, "1" %> *
    <% end %>
    
    <%= f.label :star_rating, "2", class: "radio-inline", :value => '2' do %>
      <%= f.radio_button :star_rating, "2" %> **
    <% end %>
    
    <%= f.label :star_rating, "3", class: "radio-inline", :value => '3' do %>
      <%= f.radio_button :star_rating, "3" %> ***
    <% end %>
    
    <%= f.label :star_rating, "4", class: "radio-inline", :value => '4' do %>
      <%= f.radio_button :star_rating, "4" %> ****
    <% end %>
    
    <%= f.label :star_rating, "5", class: "radio-inline", :value => '5' do %>
      <%= f.radio_button :star_rating, "5" %> *****
    <% end %>
  </p>

  <p>
    <%= f.label :price %>
    <%= f.text_field :price, class: 'form-control input-sm'  %>
  </p>

  <p>
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </p>

  <%= f.fields_for :location do |location_f| %>
    <p>
      <%= location_f.label :address %>
      <%= location_f.text_field :address, class: 'form-control' %>
    </p>
  <% end %>

  <p>
    <%= f.label :photo %>
    <%= f.file_field :photo, class: 'form-control' %>
  </p>


  <p>
    <%= link_to "Cancel", hotels_path, class: 'btn btn-default'  %> 
    <%= f.submit 'Submit', :class => 'btn btn-success' %>
  </p>


<% end %>