<%= form_for @location do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
  <p>
    <%= f.label :address %>
    <%= f.text_field :address, class: 'form-control input-sm' %><br>
  </p>
  <p>
    <%= link_to "Cancel", hotels_path, class: 'btn btn-default'  %> 
    <%= f.submit 'Submit', :class => 'btn btn-success' %>
  </p>
  </div>
<% end %>
